# 忽略 Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 忽略日志和临时文件
*.log
error_log.txt
problem.txt

# 忽略 VS Code 配置
.vscode/

# 忽略大型数据文件（如果你的数据集很大，建议忽略）
*.csv
*.sdf
*.png
*.svg
*.jpg
*.txt

# 忽略所有预训练模型文件
pretrained_model/
*.safetensors
*.zip

# 排除大型输出和临时文件
models_out/
_smoke_out_regression_nan_alignment/
.ipynb_checkpoints/

_smoke_out_regression_nan_alignment/

# 排除待上传的脚本
Script/smoke_test_qsar_modeling_pytorch.py

# ignore data processing scripts
Scripts/step00_data_clean.ipynb

# ugnore my environment installation instructions
Environment/env_install_suse.txt

# ignore specific target config yaml files
Config/test_config.yaml
Config/nsd2_config.yaml